<h2>Template: Básicos</h2>
<hr>

<div class="row">
    <div class="col">

        <form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Productos</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           name="producto"
                           ngModel
                           placeholder="Nombre del producto"
                           required
                           minlength="3">
                    <span class="form-text text-danger"
                          *ngIf="nombreValido()">Debe tener tres letras</span>
                </div>
            </div>

            <!-- Campo de Precio -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           name="precio"
                           ngModel
                           placeholder="Precio del producto"
                           required="">
                </div>
            </div>

            <!-- Campo de Existencioas -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           name="existencias"
                           ngModel
                           placeholder="Existencias del producto">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" type="submit">Guardar</button>
                </div>
            </div>

        </form>

    </div>
</div>  

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>
        
        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>
        
        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>

        <span>Value</span>
        <pre>{{ miFormulario.value | json }}</pre>
    </div>
</div>