<h2>Reactivos <small>Dinámicos</small></h2>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()" autocomplete="off">
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   placeholder="Nombre de la persona"
                   formControlName="nombre">
            <span class="form-text text-danger"
                  *ngIf="campoNoEsValido('nombre')"  >Este campo es obligatorio</span>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"
                       placeholder="Nombre de la persona"
                       (keyup.enter)="a=1">

                <button class="btn btn-outline-primary"
                        type="button"
                        (click)="a=1">
                    Agregar
                </button>   
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos" >

                <div class="input-group mb-1" *ngFor="let anime of favoritosArr.controls;let i = index">

                <input class="form-control" [formControlName]="i" >

                <button class="btn btn-outline-danger"
                        type="button"
                        (click)="a=1">
                Eliminar
                </button> 
            </div>

            
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    class="btn btn-primary float-end"
                    (click)="guardar()">
                Guardar
            </button>
            
        </div>
    </div>
</form>


<span>Valid</span>
<pre>{{ miFormulario.valid }}</pre>
<br>

<span>Value</span>
<pre>{{ miFormulario.value | json }}</pre>
<br>

<!-- <span>Persona</span>
<pre>{{ persona | json }}</pre> -->
